<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link href="../static/failed_to_open.css" rel="stylesheet">
</head>
<body>
    <div class="title-style">CODE 404</div>
    <div class="container">
        <div class="text-container"><h1 style="font-style: italic;">Not admin!</h1></div>
        <p style="font-weight: bold;">You are not authorized to view this page.</p>
    </div>
    <button class="left-sided-button" onclick="location.href='/login'">Go back</button>
</body>
</html>