<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Test</title>
    <link href="../static/login_style.css" rel="stylesheet">
    <script src="../scripts/login_script.js"></script>
</head>
<body>
    <video muted autoplay loop class="back-ground">
        <source src="../assets/videos/1730393-uhd_3840_2160_25fps.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <audio loop id="back-audio">
        <source src="../assets/audio/Aria-Math.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <form method="post">
    <div class="container">
    <h1 class="title-login">Login</h1>
    <input class="input-field" placeholder="Username" type="text" name="username" required/>
    <input class="input-field" placeholder="Password" type="password" name="password" required/>
    <button class="input-button" type="submit">
        Login
    </button>
    <div class="bottom-row">
    <button class="audio-button" onclick="toggleAudio()" type="button">Music</button>
    </div>
    <div class="bottom-row-right">
        <button class="audio-button" type="button" onclick="location.href='/home'">Tools</button>
    </div>
    </div>
    </form>
</body>
</html>